@using MyProject.Models;
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Product>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <div class="table-responsive">
                        <a asp-action="Create" class="btn btn-primary">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/images/website-images//@product.Image" />
                                        </td>
                                        <td>@product.Name</td>
                                        <td>@product.Price</td>
                                        <td>@product.Rating</td>
                                        <td>@product.Category</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id">Update</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>